<font size="40" color="#66FFCC">ÜBERSETZUNG</font>
Erizzle

<font size="40" color="#66FFCC">WEB-ENTWICKLUNG</font>
Erizzle

<font size="40" color="#66FFCC">MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font size="40" color="#66FFCC">DIRECTOR</font>
Mark Turowetz

<font size="40" color="#66FFCC">LEAD ENGINEER</font>
Mike Zuba

<font size="40" color="#66FFCC">LEAD ARTIST</font>
Kyle Fleischer

<font size="40" color="#66FFCC">AUDIO LEAD</font>
Brian Chard

<font size="40" color="#66FFCC">PRODUCTION MANAGER</font>
Luke Cody

<font size="40" color="#66FFCC">DESIGN TEAM</font>
Mark Turowetz
Mike Zuba
Kyle Fleischer
Allard Laban
Brian Chard
Warren Arnold

<font size="40" color="#66FFCC">WRITERS</font>
Warren Arnold
Mark Turowetz

<font size="40" color="#66FFCC">HOST</font>
Edward Moses

<font size="40" color="#66FFCC">JACKBOX.TV ENGINEER</font>
Alex Swan

<font size="40" color="#66FFCC">SERVER ENGINEERS</font>
Kyle Leach
Jordan Orelli

<font size="40" color="#66FFCC">ART & ANIMATION</font>
Nolan J. Downs
Kyle Labriola

<font size="40" color="#66FFCC">ADDITIONAL ENGINEERING</font>
Ben Jacobs
Pascal Pochol

<font size="40" color="#66FFCC">ADDITIONAL ART</font>
Allard Laban
Hector M Padilla
Eric Voigt

<font size="40" color="#66FFCC">ADDITIONAL SOUND DESIGN</font>
Kate Kelly

<font size="40" color="#66FFCC">ADDITIONAL MUSIC</font>
Howard Flint
Andy Poland

<font size="40" color="#66FFCC">ADDITIONAL VOICES</font>
Warren Arnold
Brooke Breit
Brian Chard
Claire McFadden
Arnie Niekamp
CJ Tuor
Mark Turowetz

<font size="40" color="#66FFCC">QA LEAD</font>
Steve Pakal

<font size="40" color="#66FFCC">QA</font>
Jacob Mooney
Jessica Glass
Tyler “Ty” Houston
Mike Parilla

<font size="40" color="#66FFCC">ENGINEERING INTERNS</font>
Laura “Floop” Adams
Myka Martinez
Jack Reynolds
Michael Siciliano

<font size="40" color="#66FFCC">PRODUCTION ASSISTANT</font>
Clara Hanford

<font size="40" color="#66FFCC">USER RESEARCH</font>
Jacob Mooney

<font size="40" color="#66FFCC">CEO</font>
Mike Bilder

<font size="40" color="#66FFCC">CCO</font>
Allard Laban

<font size="40" color="#66FFCC">CTO</font>
Evan Jacover

<font size="40" color="#66FFCC">VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font size="40" color="#66FFCC">VP OF JACKBOX FOR BUSINESS</font>
Rob Johnson

<font size="40" color="#66FFCC">EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font size="40" color="#66FFCC">MARKETING MANAGER</font>
Brooke Eanet

<font size="40" color="#66FFCC">HR & OFFICE MANAGER</font>
Rob Alletto

<font size="40" color="#66FFCC">LEGAL COUNSEL</font>
Kurt Hirsch

<font size="40" color="#66FFCC">CONTROLLER</font>
Anna Wodynski

<font size="40" color="#66FFCC">SPECIAL THANKS</font>
Adam Charney
Ryan DiGiorgi
Greg Gretsch
Tom Gottlieb
Spencer Ham
Ben Jacobs
Owen Watson

Some synthetic vocal performances were made using BONES and MIKU STOMP.

<font size="40" color="#66FFCC">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb