<font size="30" color="#000000">ÜBERSETZUNG</font>
N03N3R6Y
Litatus
Kajotex
Erizzle

<font size="30" color="#000000">DEUTSCHE STIMME</font>
Kajotex

<font size="30" color="#000000">SYNCHRONREGIE</font>
Kajotex
Erizzle

<font size="30" color="#000000">WEB-ENTWICKLUNG</font>
Erizzle

<font size="30" color="#000000">MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi

<font size="30" color="#000000">DIRECTOR & EDITORIAL LEAD</font>
Spencer Ham

<font size="30" color="#000000">LEAD ENGINEER</font>
Pascal Pochol

<font size="30" color="#000000">LEAD ARTIST</font>
Owen Watson

<font size="30" color="#000000">AUDIO LEAD</font>
Brian Chard

<font size="30" color="#000000">PRODUCTION MANAGER</font>
Luke Cody

<font size="30" color="#000000">DESIGN TEAM</font>
Spencer Ham
Brian Chard
Pascal Pochol
Owen Watson

<font size="30" color="#000000">WRITERS</font>
Warren Arnold
Brooke Breit
Brian Chard
Tom Gottlieb
Spencer Ham
Claire McFadden
CJ Tuor

<font size="30" color="#000000">CONTRIBUTING WRITERS</font>
Jacob Mooney
Arnie Niekamp
Tim Sniffen

<font size="30" color="#000000">HOST</font>
Tim Sniffen

<font size="30" color="#000000">JACKBOX.TV ENGINEER</font>
Alex Swan

<font size="30" color="#000000">SERVER ENGINEERS</font>
Kyle Leach
Jordan Orelli

<font size="30" color="#000000">ART & ANIMATION</font>
Nolan J. Downs
Kyle Fleischer
Kyle Labriola
Hector M Padilla
Eric Voigt

<font size="30" color="#000000">ADDITIONAL ART</font>
Spencer Ham
Clara Hanford

<font size="30" color="#000000">ADDITIONAL SOUND DESIGN</font>
Kate Kelly

<font size="30" color="#000000">ADDITIONAL ENGINEERING</font>
Ben Jacobs
Mike Zuba

<font size="30" color="#000000">QA LEAD</font>
Steve Pakal

<font size="30" color="#000000">QA</font>
Jacob Mooney
Jessica Glass
Tyler “Ty” Houston
Mike Parilla

<font size="30" color="#000000">ENGINEERING INTERNS</font>
Jack Reynolds
Laura "Floop" Adams
Myka Martinez
Michael Siciliano

<font size="30" color="#000000">PRODUCTION ASSISTANT</font>
Clara Hanford

<font size="30" color="#000000">PROOFREADER</font>
Elaine Friedberg

<font size="30" color="#000000">USER RESEARCH</font>
Jacob Mooney

<font size="30" color="#000000">CEO</font>
Mike Bilder

<font size="30" color="#000000">CCO</font>
Allard Laban

<font size="30" color="#000000">CTO</font>
Evan Jacover

<font size="30" color="#000000">CCR</font>
John Fogerty
Tom Fogerty
Doug Clifford
Stu Cook

<font size="30" color="#000000">VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font size="30" color="#000000">VP OF JACKBOX FOR BUSINESS</font>
Rob Johnson

<font size="30" color="#000000">EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font size="30" color="#000000">MARKETING MANAGER</font>
Brooke Eanet

<font size="30" color="#000000">HR & OFFICE MANAGER</font>
Rob Alletto

<font size="30" color="#000000">LEGAL COUNSEL</font>
Kurt Hirsch

<font size="30" color="#000000">CONTROLLER</font>
Anna Wodynski

<font size="30" color="#000000">SPECIAL THANKS</font>
Adam Charney
Ryan DiGiorgi
Greg Gretsch
Mark Turowetz

<font size="30" color="#000000">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb